[submodule "port-api"]
	path = port-api
	url = git@github.com:kyh0703/port-api.git
	branch = develop
[submodule "port-media"]
	path = port-media
	url = git@github.com:kyh0703/port-media.git
	branch = main
[submodule "port-web"]
	path = port-web
	url = git@github.com:kyh0703/port-web.git
	branch = develop
