HOST=0.0.0.0
PORT=3000
PUBLIC_BASE_URL=http://macbookpro:3002
ACCESS_TOKEN_IDENTITY_URL=https://adaptor-api-tls/api/v1/access-tokens/identity
NODE_EXTRA_CA_CERTS=/run/caddy/caddy/pki/authorities/local/root.crt
